%html
  %head
    %title= "#{config[:name]} Turnin"
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/bootstrap-theme.min.css'}
    %script{src: '/js/bootstrap.min.js'}
  %body
    .container
      = yield
